@import url('//fonts.googleapis.com/css?family=Lato');
@import url('//fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'lato', 'raleway' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
